<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Logların yazılacağı dosya yolu -->
        <file>logs/app.log</file>

        <!-- Dosya içeriği nasıl görünsün -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- Uygulama her çalıştığında dosya üzerine yazsın mı? false → ekle, true → sıfırla -->
        <append>true</append>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>

    </root>

</configuration>